<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for WatsonTcp" Description="Code analysis rules for WatsonTcp.csproj." ToolsVersion="14.0">
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1001" Action="Warning" />
    <Rule Id="CA1009" Action="Warning" />
    <Rule Id="CA1016" Action="Warning" />
    <Rule Id="CA1033" Action="Warning" />
    <Rule Id="CA1049" Action="Warning" />
    <Rule Id="CA1060" Action="Warning" />
    <Rule Id="CA1061" Action="Warning" />
    <Rule Id="CA1063" Action="Warning" />
    <Rule Id="CA1065" Action="Warning" />
    <Rule Id="CA1301" Action="Warning" />
    <Rule Id="CA1400" Action="Warning" />
    <Rule Id="CA1401" Action="Warning" />
    <Rule Id="CA1403" Action="Warning" />
    <Rule Id="CA1404" Action="Warning" />
    <Rule Id="CA1405" Action="Warning" />
    <Rule Id="CA1410" Action="Warning" />
    <Rule Id="CA1415" Action="Warning" />
    <Rule Id="CA1821" Action="Warning" />
    <Rule Id="CA1900" Action="Warning" />
    <Rule Id="CA1901" Action="Warning" />
    <Rule Id="CA2002" Action="Warning" />
    <Rule Id="CA2100" Action="Warning" />
    <Rule Id="CA2101" Action="Warning" />
    <Rule Id="CA2108" Action="Warning" />
    <Rule Id="CA2111" Action="Warning" />
    <Rule Id="CA2112" Action="Warning" />
    <Rule Id="CA2114" Action="Warning" />
    <Rule Id="CA2116" Action="Warning" />
    <Rule Id="CA2117" Action="Warning" />
    <Rule Id="CA2122" Action="Warning" />
    <Rule Id="CA2123" Action="Warning" />
    <Rule Id="CA2124" Action="Warning" />
    <Rule Id="CA2126" Action="Warning" />
    <Rule Id="CA2131" Action="Warning" />
    <Rule Id="CA2132" Action="Warning" />
    <Rule Id="CA2133" Action="Warning" />
    <Rule Id="CA2134" Action="Warning" />
    <Rule Id="CA2137" Action="Warning" />
    <Rule Id="CA2138" Action="Warning" />
    <Rule Id="CA2140" Action="Warning" />
    <Rule Id="CA2141" Action="Warning" />
    <Rule Id="CA2146" Action="Warning" />
    <Rule Id="CA2147" Action="Warning" />
    <Rule Id="CA2149" Action="Warning" />
    <Rule Id="CA2200" Action="Warning" />
    <Rule Id="CA2202" Action="Warning" />
    <Rule Id="CA2207" Action="Warning" />
    <Rule Id="CA2212" Action="Warning" />
    <Rule Id="CA2213" Action="Warning" />
    <Rule Id="CA2214" Action="Warning" />
    <Rule Id="CA2216" Action="Warning" />
    <Rule Id="CA2220" Action="Warning" />
    <Rule Id="CA2229" Action="Warning" />
    <Rule Id="CA2231" Action="Warning" />
    <Rule Id="CA2232" Action="Warning" />
    <Rule Id="CA2235" Action="Warning" />
    <Rule Id="CA2236" Action="Warning" />
    <Rule Id="CA2237" Action="Warning" />
    <Rule Id="CA2238" Action="Warning" />
    <Rule Id="CA2240" Action="Warning" />
    <Rule Id="CA2241" Action="Warning" />
    <Rule Id="CA2242" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="SonarAnalyzer.CSharp" RuleNamespace="SonarAnalyzer.CSharp">
    <Rule Id="S1006" Action="None" />
    <Rule Id="S101" Action="None" />
    <Rule Id="S1066" Action="None" />
    <Rule Id="S108" Action="None" />
    <Rule Id="S1116" Action="None" />
    <Rule Id="S1117" Action="None" />
    <Rule Id="S1118" Action="None" />
    <Rule Id="S112" Action="None" />
    <Rule Id="S1121" Action="None" />
    <Rule Id="S1125" Action="None" />
    <Rule Id="S1134" Action="None" />
    <Rule Id="S1144" Action="None" />
    <Rule Id="S1145" Action="None" />
    <Rule Id="S1155" Action="None" />
    <Rule Id="S1163" Action="None" />
    <Rule Id="S1172" Action="None" />
    <Rule Id="S1185" Action="None" />
    <Rule Id="S1186" Action="None" />
    <Rule Id="S1210" Action="None" />
    <Rule Id="S1244" Action="None" />
    <Rule Id="S125" Action="None" />
    <Rule Id="S1449" Action="None" />
    <Rule Id="S1450" Action="None" />
    <Rule Id="S1481" Action="None" />
    <Rule Id="S1643" Action="None" />
    <Rule Id="S1656" Action="None" />
    <Rule Id="S1699" Action="None" />
    <Rule Id="S1764" Action="None" />
    <Rule Id="S1848" Action="None" />
    <Rule Id="S1854" Action="None" />
    <Rule Id="S1862" Action="None" />
    <Rule Id="S1871" Action="None" />
    <Rule Id="S1905" Action="None" />
    <Rule Id="S1939" Action="None" />
    <Rule Id="S1940" Action="None" />
    <Rule Id="S1944" Action="None" />
    <Rule Id="S2123" Action="None" />
    <Rule Id="S2178" Action="None" />
    <Rule Id="S2184" Action="None" />
    <Rule Id="S2190" Action="None" />
    <Rule Id="S2201" Action="None" />
    <Rule Id="S2219" Action="None" />
    <Rule Id="S2223" Action="None" />
    <Rule Id="S2225" Action="None" />
    <Rule Id="S2234" Action="None" />
    <Rule Id="S2259" Action="None" />
    <Rule Id="S2275" Action="None" />
    <Rule Id="S2278" Action="None" />
    <Rule Id="S2290" Action="None" />
    <Rule Id="S2291" Action="None" />
    <Rule Id="S2292" Action="None" />
    <Rule Id="S2306" Action="None" />
    <Rule Id="S2326" Action="None" />
    <Rule Id="S2328" Action="None" />
    <Rule Id="S2344" Action="None" />
    <Rule Id="S2345" Action="None" />
    <Rule Id="S2346" Action="None" />
    <Rule Id="S2368" Action="None" />
    <Rule Id="S2372" Action="None" />
    <Rule Id="S2376" Action="None" />
    <Rule Id="S2437" Action="None" />
    <Rule Id="S2486" Action="None" />
    <Rule Id="S2583" Action="None" />
    <Rule Id="S2681" Action="None" />
    <Rule Id="S2688" Action="None" />
    <Rule Id="S2692" Action="None" />
    <Rule Id="S2696" Action="None" />
    <Rule Id="S2743" Action="None" />
    <Rule Id="S2757" Action="None" />
    <Rule Id="S2758" Action="None" />
    <Rule Id="S2761" Action="None" />
    <Rule Id="S2930" Action="None" />
    <Rule Id="S2933" Action="None" />
    <Rule Id="S2934" Action="None" />
    <Rule Id="S2953" Action="None" />
    <Rule Id="S2971" Action="None" />
    <Rule Id="S2995" Action="None" />
    <Rule Id="S2996" Action="None" />
    <Rule Id="S2997" Action="None" />
    <Rule Id="S3005" Action="None" />
    <Rule Id="S3010" Action="None" />
    <Rule Id="S3168" Action="None" />
    <Rule Id="S3169" Action="None" />
    <Rule Id="S3172" Action="None" />
    <Rule Id="S3217" Action="None" />
    <Rule Id="S3218" Action="None" />
    <Rule Id="S3220" Action="None" />
    <Rule Id="S3234" Action="None" />
    <Rule Id="S3236" Action="None" />
    <Rule Id="S3237" Action="None" />
    <Rule Id="S3241" Action="None" />
    <Rule Id="S3244" Action="None" />
    <Rule Id="S3246" Action="None" />
    <Rule Id="S3249" Action="None" />
    <Rule Id="S3251" Action="None" />
    <Rule Id="S3256" Action="None" />
    <Rule Id="S3261" Action="None" />
    <Rule Id="S3262" Action="None" />
    <Rule Id="S3263" Action="None" />
    <Rule Id="S3264" Action="None" />
    <Rule Id="S3265" Action="None" />
    <Rule Id="S3376" Action="None" />
    <Rule Id="S3397" Action="None" />
    <Rule Id="S3427" Action="None" />
    <Rule Id="S3440" Action="None" />
    <Rule Id="S3443" Action="None" />
    <Rule Id="S3444" Action="None" />
    <Rule Id="S3445" Action="None" />
    <Rule Id="S3447" Action="None" />
    <Rule Id="S3449" Action="None" />
    <Rule Id="S3450" Action="None" />
    <Rule Id="S3451" Action="None" />
    <Rule Id="S3453" Action="None" />
    <Rule Id="S3456" Action="None" />
    <Rule Id="S3457" Action="None" />
    <Rule Id="S3458" Action="None" />
    <Rule Id="S3459" Action="None" />
    <Rule Id="S3466" Action="None" />
    <Rule Id="S3597" Action="None" />
    <Rule Id="S3598" Action="None" />
    <Rule Id="S3600" Action="None" />
    <Rule Id="S3603" Action="None" />
    <Rule Id="S3604" Action="None" />
    <Rule Id="S3610" Action="None" />
    <Rule Id="S3626" Action="None" />
    <Rule Id="S3655" Action="None" />
    <Rule Id="S907" Action="None" />
    <Rule Id="S927" Action="None" />
  </Rules>
</RuleSet>